<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.role.RoleMapper">
    <resultMap id="BaseResultMap" type="com.company.project.dao.role.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <insert id="insert" parameterType="com.company.project.dao.role.Role">
        insert into user (id, role_name) values (#{id}, #{roleName})
    </insert>
</mapper>